

.circle-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .logo{
width: 190px;
height: 169px;
  }

  .logo-apple{
    width: 160px;
    height: 150px;
  }

h1{
  color: azure;
    font-family: garamond;
    font-size: xx-large;
    word-spacing: 0.1cm;
    background-color: rgb(28, 71, 47);
    text-shadow: 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3,
                 0px 0px 10px #82d3f3;


}

h2{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
}

h5{
    color: aliceblue;
    font-size: large;
    text-align: end;
    background-color: black;
}

h4{
    font-size: x-large;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
 font-size: xx-large;
 text-align: center;
}

li{
font-size: x-large;
}

.phone-photo{
    height: 100px;
    width: 100px;
}

.sanjay{
  height: 300px;
  width: 370px;
}


  .fa-instagram{
    font-size: 45px;
    color: black;
  }

  .fa-tiktok{
    font-size: 45px;
    color: black;
  }

  .fa-facebook{
    font-size: 45px;
    color: black;
  }


  .purchase-button {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 1em;
    border: 3px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px Irgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ff2f2f;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    }

    button:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #481c30;
      z-index: -1;
      }

      button:hover, button:focus {
      color: rgb(87, 238, 85);
      }

      button:hover:before, button: focus:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      }
      button:active {
      transform: scale(0.9);